html {
  background-color: #c9b5ae;
  font-family: "PT Serif", serif;
  line-height: normal;
}

h1, h2 {
  color: #461b2e;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

figure + p, b {
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
}

cite {
  font-size: 1rem;
  font-weight: normal;
  font-style: italic;
}

em, i, #serving, figcaption {
  font-style: italic;
}

header + ol {
  font-style: normal;
  list-style-type: lower-greek;
}

ul {
  list-style-type: circle;
  font-style: normal;
}

dt {
  font-weight: bold;
  font-style: normal;
}

dd, footer {
  font-style: normal;
}

.nav > ol {
  list-style-type: none;
  font-weight: bold;
  font-family: "PT Sans";
}

a {
  color: #87283e;
  text-decoration: none;
}

a:hover {
  color: #461b2e;
  text-decoration: underline;
}

a:visited {
  color: #461b2e;
  text-decoration: underline;
}

img {
  width: 100%;
}
